*margin: 0;
    padding: 0;
   .cabecario {
    background-color:#FFC125;
      color:black;
      display:flex;
     justify-content: space-around;
     padding: 24px 0;}
  .cabecario-lista-item{
    display: inline-block;
    margin:0 16px;
  padding: 24px 0;
    font-size:24px;
}
.escola{
    background-image: linear-gradient (#1E90FF,#00BFFF);
    color:black;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.escola-imagem{
    width:25%;
}
.escola-titulo{
    {
        background-color:#BA55D3
          color:HotPink3;}
      * {margin:0;
        padding:0;}
       .cabecario {
        background-color:#FFC125
          color:black
          display:flex;
         justify-content: space-around;
         padding: 24px 0;}
      .cabecario-lista-item{
        display: inline-block;
        margin:0 16px;
      padding: 24px 0;
        font-size:24px;
    }
    .escola{
        background-image: linear-gradient (#1E90FF,#00BFFF);
        color:black;
        display:flex;
    }
    .escola-conteudo{
        width: 35%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .escola-imagem{
        width:25%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    body{
        font-family:'Poppins'Verdana, Geneva, Tahoma, sans-serif
    }
    .estudante-imagem{
        width: 120px;
    }
    
    .estudante-div{
        text-align: center;
    }
.estudante-div{
    text-align: center;
}
estudante-todos {
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    }
    <div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>

grid-template-columns: 20% 20% 20% 20%;

<div class=”estudante-div”>

<img class=”estudante-imagem “src=”./img/Marcelo 1.png” alt=”foto do estudante

Marcelo”>

<h3 class=”estudante-nome”>Marcelo</h3>

<footer>
<img src=”./img/alurastart logo 1.png” alt=”logo da alura start”>
</footer>


