*{margin:0 ;
    padding: 0;}
   .cabecario {
    background-color:#FFC125;
      color:black;
      display:flex;
     justify-content: space-around;
     padding: 24px 0;}
  .cabecario-lista-item{
    display: inline-block;
    margin:0 16px;
  padding: 24px 0;
    font-size:24px;
}
.escola{
    background-image: linear-gradient (#1E90FF,#00BFFF);
    color:black;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.escola-imagem{
    width:25%;
}
.escola-titulo{
    
        background-color:#BA55D3;
         color: hotpink;
     
    }
    
   
    body{
        font-family:'Poppins'Verdana, Geneva, Tahoma, sans-serif
    }
    .estudante-imagem{
        width: 120px;
    }
    
    .estudante-div{
        text-align: center;
    }
.estudante-div{
    text-align: center;
}
.estudante-todos {
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    }
   
